

    <form [formGroup]="formationForm">
      <div class="input-group">
          <label class="label" for="">Nom :</label>
          <input class="input" type="text" formControlName="nom">
      </div>

      <div class="input-group">
          <label class="label" for="">Theme:</label>
          <select class="input" type="text" formControlName="theme">
              <option [ngValue]="null" disabled>Selectionner un theme</option>
              <option [ngValue]="theme" *ngFor="let theme of themes">{{theme.nom}}</option>
          </select>
      </div>
      <div class="input-group">
        <label class="label" for="">Description :</label>
        <input class="input" type="text" formControlName="description">
      </div>
      <div class="input-group">
        <label class="label" for="">Prix :<span>€</span></label>
        <input class="input" type="number" formControlName="prix">
    </div>

      <button (click)="submitForm()">Ajouter</button>

      <!-- <h4 class="mb-3">
      En attente de Validation de la formation par le Responsable</h4>
      <span style="visibility: hidden"
      >Validation de la formation par le Responsable ce "date"</span> -->
    </form>





